# ds store and env. variables.
.DS_Store
.env
__pychache__

# ignore all the input and output data.
bcrypt/
BiomarkerData/

# ignoring the initial csv files for cnv, mutation and rna.
input**/*

# ignoring the final csv files for cnv, mutation and rna.
output**/*

